*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;
  --main-color: #eaedf3;
  --secondary-color: #302d43;
  --secondary-accent-color: #282639;
  --accent-color: #65d177;
  --highlight-color: #f58f23;
  font-family: Mulish, Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(200px, 15%) 4fr;
  grid-template-rows: 20% 1fr;
}

/*===============SIDEBAR START=================*/
aside {
  background-color: var(--secondary-color);
  grid-row: 1 / 3;
  color: var(--main-color);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 12fr;
  padding: 5%;
  gap: 2.5vh;
}

.in-grid > svg {
  width: 1.3rem;
  fill: var(--main-color);
  justify-self: center;
}

.logo > svg {
  width: 1.8rem;
  fill: var(--main-color);
}

.logo > p {
  font-weight: bold;
  font-size: 1.2em;
}

.in-grid {
  font-size: 0.85em;
  display: grid;
  grid-template-columns: 1.8rem 1fr;
  gap: 5%;
  padding: 0.3em;
  margin: 5%;
}

.logo {
  align-items: center;
}

.upper-nav,
.lower-nav {
  display: grid;
  grid-template-rows: repeat(6, 40px);
  align-items: center;
}

/*===============SIDEBAR END=================*/

/*===============HEADER START=================*/

header {
  background-color: var(--main-color);
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  color: var(--secondary-color);
  padding: 10px 2vw;
}

header div {
  border: 1px solid green;
}

input[type="search"] {
  appearance: none;
  background-color: blue;
  border: none;
  min-width: 80%;
  height: 30px;
  border-radius: 20px;
}

.bar-container {
  display: flex;
  border: 1px solid black;
}

.search-bar-container > svg {
  width: 1.8rem;
  fill: var(--secondary-color);
}

.search-bar-container {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;
  gap: 1em;
}

header img {
  max-width: 40px;
  height: auto;
  border-radius: 50%;
}

#large > img {
  max-width: 80px;
}

.user-info-container {
  display: flex;
  gap: 1em;
}

/*===============HEADER END=================*/

/*===============MAIN START=================*/
main {
  background-color: var(--secondary-accent-color);
}
/*===============MAIN END=================*/
