*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;
  --main-color: #ea6a47;
  --secondary-color: #1c4e80;
  --secondary-accent-color: #f2b84b;
  --accent-color: #897b60;
  --highlight-color: #202020;
  font-family: Mulish, Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(200px, 15%) 4fr;
  grid-template-rows: 20% 1fr;
}

/*===============SIDEBAR START=================*/
aside {
  background-color: var(--secondary-color);
  grid-row: 1 / 3;
  color: var(--white);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 12fr;
  padding: 5%;
  gap: 2.5vh;
}

.in-grid > svg {
  width: 1.3rem;
  fill: var(--white);
  justify-self: center;
}
.in-grid:hover > svg {
  fill: var(--secondary-color);
}

.logo > svg {
  width: 1.8rem;
  fill: var(--white);
}

.logo > p {
  font-weight: bold;
  font-size: 1.2em;
}

.in-grid {
  font-size: 0.85em;
  display: grid;
  grid-template-columns: 1.8rem 1fr;
  gap: 5%;
  padding: 0.3em;
  margin: 5%;
}

.logo {
  align-items: center;
}

.logo:hover {
  cursor: pointer;
}

.upper-nav,
.lower-nav {
  display: grid;
  grid-template-rows: repeat(6, 40px);
  align-items: center;
}

.upper-nav .in-grid:hover,
.lower-nav .in-grid:hover {
  background-color: var(--white);
  color: var(--secondary-color);
  cursor: pointer;
  position: relative;
  font-size: larger;
  border-radius: 20px;
  padding-left: 10px;
  align-items: center;
  font-weight: bold;
}

/*===============SIDEBAR END=================*/

/*===============HEADER START=================*/

header {
  background-color: var(--main-color);
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1.75fr 1fr;
  grid-template-rows: 1fr 1fr;
  color: var(--white);
  padding: 0 4vw 15px;
}

input[type="search"] {
  appearance: none;
  background-color: var(--white);
  border: none;
  min-width: 90%;
  height: 30px;
  border-radius: 20px;
  color: var(--main-color);
  padding: 0.7em;
  box-shadow: inset 0.5px 0.5px 2px var(--highlight-color);
}

input[type="search"]:focus {
  background-color: var(--white);
  outline: none;
  color: var(--highlight-color);
}

.bar-container {
  display: flex;
}

header svg {
  width: 1.8rem;
  fill: var(--white);
}

.search-bar-container {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;
  gap: 1em;
}

header img {
  max-width: 40px;
  height: auto;
  border-radius: 50%;
}

#large > img {
  max-width: 60px;
}

#bell-icon > svg:hover {
  background-color: var(--white);
  fill: var(--secondary-color);
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.user-info-container {
  display: flex;
  gap: 1em;
  color: var(--white);
  font-weight: bold;
  font-size: 1.4rem;
  align-items: center;
}

.user-info-container span {
  font-size: 0.8rem;
}

.icons-container {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.buttons-container {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

button {
  background-color: var(--secondary-color);
  color: var(--white);
  border: none;
  width: 100px;
  padding: 10px 17px;
  border-radius: 20px;
}

button:hover {
  cursor: pointer;
  background-color: #f8f8f8;
  color: var(--secondary-color);
}

button:active {
  cursor: pointer;
  background-color: #f5f5f5;
  box-shadow: inset 0.5px 0.5px 2px var(--highlight-color);
}
/*===============HEADER END=================*/

/*===============MAIN START=================*/
main {
  background-color: var(--secondary-accent-color);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(15%, 20%);
}

main svg {
  width: 1.8rem;
  fill: var(--secondary-color);
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 200px;
  gap: 1.5em;
  padding: 6vh;
}

.project {
  background-color: var(--white);
  padding: 1rem;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr minmax(10%, 5%);
  border-left: 10px solid var(--secondary-color);
  color: var(--highlight-color);
}

.project .icons {
  justify-self: end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vh;
}

.proj-title {
  font-weight: bold;
  font-size: 1.2em;
}

.project .text {
}

.project svg:hover {
  background-color: var(--secondary-color);
  fill: var(--white);
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}

a:hover {
  color: var(--highlight-color);
}

.project a {
  color: var(--highlight-color);
}

.project a:hover {
  color: var(--secondary-accent-color);
}

.announce-trends {
  border: 1px solid white;
  display: grid;
  grid-template-rows: repeat(2fr);
}

.trending img {
  max-width: 60px;
  height: auto;
  border-radius: 50%;
}

.announcements,
.trending {
  display: grid;
  grid-template-rows: repeat(auto-fit, 90px);
  background-color: var(--white);
  padding: 3vh;
  font-size: 0.8rem;
  align-items: center;
  color: var(--highlight-color);
}

.title {
  font-weight: bold;
  font-size: 1.2em;
}

.announcements > div:hover {
  cursor: pointer;
  color: var(--secondary-accent-color);
}

.user {
  display: grid;
  grid-template-columns: 30% 1fr;
  align-items: center;
  gap: 2%;
}

/*===============MAIN END=================*/
