*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;
  --main-color: #eaedf3;
  --secondary-color: #302d43;
  --secondary-accent-color: #282639;
  --accent-color: #65d177;
  --highlight-color: #f58f23;
  font-family: Mulish, Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(200px, 15%) 4fr;
  grid-template-rows: 20% 1fr;
}

/*===============SIDEBAR START=================*/
aside {
  background-color: var(--secondary-color);
  grid-row: 1 / 3;
  color: var(--main-color);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 12fr;
  padding: 5%;
  gap: 2.5vh;
}

.in-grid > svg {
  width: 1.3rem;
  fill: var(--main-color);
  justify-self: center;
}

.logo > svg {
  width: 1.8rem;
  fill: var(--main-color);
}

.logo > p {
  font-weight: bold;
  font-size: 1.2em;
}

.in-grid {
  font-size: 0.85em;
  display: grid;
  grid-template-columns: 1.8rem 1fr;
  gap: 5%;
  padding: 0.3em;
  margin: 5%;
}

.logo {
  align-items: center;
}

.upper-nav,
.lower-nav {
  display: grid;
  grid-template-rows: repeat(6, 40px);
  align-items: center;
}

/*===============SIDEBAR END=================*/

/*===============HEADER START=================*/

header {
  background-color: var(--main-color);
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1.75fr 1fr;
  grid-template-rows: 1fr 1fr;
  color: var(--secondary-color);
  padding: 0 4vw 15px;
}

input[type="search"] {
  appearance: none;
  background-color: var(--secondary-color);
  border: none;
  min-width: 90%;
  height: 30px;
  border-radius: 20px;
  color: var(--main-color);
  padding: 0.7em;
}

input[type="search"]:focus {
  background-color: var(--secondary-accent-color);
  outline: none;
  border: 2px solid var(--accent-color);
}

.bar-container {
  display: flex;
}

header svg {
  width: 1.8rem;
  fill: var(--secondary-color);
}

.search-bar-container {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;
  gap: 1em;
}

header img {
  max-width: 40px;
  height: auto;
  border-radius: 50%;
}

#large > img {
  max-width: 60px;
}

.user-info-container {
  display: flex;
  gap: 1em;
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 1.4rem;
  align-items: center;
}

.user-info-container span {
  font-size: 0.8rem;
}

.icons-container {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.buttons-container {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

#bell-icon {
  border: 1px solid blue;
}

button {
  background-color: var(--secondary-color);
  color: var(--main-color);
  border: none;
  width: 100px;
  padding: 10px 17px;
  border-radius: 20px;
}
/*===============HEADER END=================*/

/*===============MAIN START=================*/
main {
  background-color: var(--secondary-accent-color);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(20%, 30%);
}

main svg {
  width: 1.8rem;
  fill: var(--secondary-color);
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  gap: 1.5em;
  padding: 3vh;
}

.project {
  background-color: var(--main-color);
  padding: 1vh 2vw;
  border-radius: 10px;
}
/*===============MAIN END=================*/
